
@{
    ViewData["Title"] = "About";
    ViewBag.Title = "My MVC Page - About";
}


<div class="row">
    <div class="col-8 text-center justify-content-center">
        <h1>About me!</h1>
       <p>
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit aliquid pariatur mollitia, provident rem sunt vitae quasi doloribus similique minima exercitationem praesentium quod eius. Recusandae modi dolore asperiores vel fugiat atque dignissimos corporis illo harum perferendis ipsam voluptatem veritatis at ratione ipsa magnam assumenda iste natus quisquam repellat, dolorum laboriosam aperiam veniam. Minima facilis dignissimos molestiae, ipsum beatae ea vel animi consequatur in sit saepe odit magnam esse vero! Autem rem fugiat quam omnis libero ex asperiores itaque est quasi quidem. Officia ut iure blanditiis nihil at laudantium odit neque. Laudantium excepturi, veritatis blanditiis maxime necessitatibus nulla nihil quis quibusdam.
       </p>
       <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit aliquid pariatur mollitia, provident rem sunt vitae quasi doloribus similique minima exercitationem praesentium quod eius. Recusandae modi dolore asperiores vel fugiat atque dignissimos corporis illo harum perferendis ipsam voluptatem veritatis at ratione ipsa magnam assumenda iste natus quisquam repellat, dolorum laboriosam aperiam veniam. Minima facilis dignissimos molestiae, ipsum beatae ea vel animi consequatur in sit saepe odit magnam esse vero! Autem rem fugiat quam omnis libero ex asperiores itaque est quasi quidem. Officia ut iure blanditiis nihil at laudantium odit neque. Laudantium excepturi, veritatis blanditiis maxime necessitatibus nulla nihil quis quibusdam.
       </p>
    </div>
    <div class="col-4 text-center justify-content-center">
    <img src="~/images/me.png" />
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit aliquid pariatur mollitia, provident rem sunt vitae quasi doloribus similique minima exercitationem praesentium quod eius. Recusandae modi dolore asperiores vel fugiat atque dignissimos corporis illo harum perferendis ipsam voluptatem veritatis at ratione ipsa magnam assumenda iste natus quisquam repellat, dolorum laboriosam aperiam veniam. Minima facilis dignissimos molestiae, ipsum beatae ea vel animi consequatur in sit saepe odit magnam esse vero! Autem rem fugiat quam omnis libero ex asperiores itaque est quasi quidem. Officia ut iure blanditiis nihil at laudantium odit neque. Laudantium excepturi, veritatis blanditiis maxime necessitatibus nulla nihil quis quibusdam.
        </p>
    </div>
</div>

<div class="row">

    <div class="col-12 bottom-row">
        <a asp-controller="Internal" asp-action="Contact" class="contact-button">Contact me</a>
    </div>

</div>
