
@{
    ViewData["Title"] = "projects";
    ViewBag.Title = "My MVC Page - Project";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Projects</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 proj">
        <h2>Calculator</h2>
    </div>
    <div class="col-lg-12 projb">
        <p>
            Simple console calculator in C#.
        </p>
        <div class="proj-links">
            <a href="https://github.com/ZeKeA77/ConsoleAppX/tree/master/Calc" title="Calculator" target="_blank">Get it on GitHub</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 proj">
        <h2>Hangman</h2>
    </div>
    <div class="col-lg-12 projb">
        <p>The classic game Hangman, console application written in C#</p>
        <div class="proj-links">
            <a href="https://github.com/ZeKeA77/ConsoleAppX/tree/master/HangMan" title="Hangman" target="_blank">Get int on GitHub</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 proj">
        <h2>VendingMachine</h2>
    </div>
    <div class="col-lg-12 projb">
        <p>A VendingMachine, console application written in C#</p>
        <div class="proj-links">
            <a href="https://github.com/ZeKeA77/ConsoleAppX/tree/master/VendingMachine" title="VendingMachine" target="_blank">Get it on GitHub</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 proj">
        <h2>Sokoban</h2>
    </div>
    <div class="col-lg-12 projb">
        <p>The 80's Japanese game of Sokoban, witten in JavaScript</p>
        <div class="proj-links">
            <a href="https://github.com/ZeKeA77/ConsoleAppX/tree/master/Sokoban" title="Sokoban" target="_blank">Get it on GitHub</a>
        </div>
    </div>
</div>
