<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/default.css" />
	<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>
        <header>
        <nav class="navbar navbar-expand-md navbar-light navbar-fixed-top cb">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Raul Cobos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link">Home</a>
                    <a asp-controller="External" asp-action="Projects" class="nav-item nav-link">Projects</a>
                    <a asp-controller="Internal" asp-action="About" class="nav-item nav-link">About</a>
                    <a asp-controller="Internal" asp-action="Contact" class="nav-item nav-link">Contact</a>
                    <a asp-controller="Guess" asp-action="GuessGame" class="nav-item nav-link">Guess Game</a>
                </div>
                </div>
                </nav>
        </header>

        <div id="main" class="container">
            @RenderBody()
        </div>
    
        <footer class="footer">
            <div class="container">
                <p>&copy; Raul Cobos @DateTime.Now.ToShortDateString()</p>
            </div>
        </footer>
    
</body>
</html>
